{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Acceso a tierra{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
    var plotOptions = {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: false
            },
            series: {
                    pointWidth: 35,
                    minPointLength : 1
                },
            showInLegend: true
         },
         series: {
            dataLabels: {
                enabled: true,
                align: "center",
                formatter: function() {
                    return ''+ this.percentage.toFixed(1) + ' %';
                },
                color: '#000',
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y;
        }
    }
    $(document).ready(function(){
    	var chart = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Seguridad legal de la tenencia de la tierra'
            },
            subtitle: {
                text: '% de total de familias'
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for value in tabla_dicc1 %}['{{value.0|truncate_init:4}}', {{value.1}}]{% if not forloop.last %}, {% endif %}{% endfor %}]}]
        });
        
        var chart2 = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo1',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Seguridad legal de la tenencia'
            },
            subtitle: {
                text: '% de familias con hombres jefe'
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for value in tabla_dicc1 %}['{{value.0|truncate_init:4}}', {% with tabla=dicc1_h_m|get_value:value.0 %}{{tabla.hombre}}{% endwith %}]{% if not forloop.last %}, {% endif %}{% endfor %}]}]
        });
        
        var chart3 = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo2',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Seguridad legal de la tenencia'
            },
            subtitle: {
                text: '% de familias con mujeres jefe'
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for value in tabla_dicc1 %}['{{value.0|truncate_init:4}}', {% with tabla=dicc1_h_m|get_value:value.0 %}{{tabla.mujer}}{% endwith %}]{% if not forloop.last %}, {% endif %}{% endfor %}]}]
        });
           	
    });
</script>
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Acceso a tierra</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}

<div>
	<table class="tabla-resultados">
		<caption>Acceso a tierra por rangos de área en manzanas (1mz = 0.70 ha)</caption>
		<thead>
			<tr>
				<th>Rangos</th>
				<th>Totales: {{total_all}}</th>
				<th>%</th>
				<th>Hombre jefe: {{total_hombre}}</th>
				<th>%</th>
				<th>Mujer jefa: {{total_mujer}}</th>
				<th>%</th>
				
			</tr>
		</thead>
		<tbody>
			{% for key, value in dicc.items %}
			<tr>
				<td>{{labels|get_value:key}}</td>
				<td>{{value}}</td>
				<td>{{value|calcular_frecuencia:total_all}}</td>
				<td>{{dicc_hombre|get_value:key}}</td>
				<td>{{dicc_hombre|get_value:key|calcular_frecuencia:total_hombre}}</td>
				<td>{{dicc_mujer|get_value:key}}</td>
				<td>{{dicc_mujer|get_value:key|calcular_frecuencia:total_mujer}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
</div>
<br></br>
	<table class="tabla-resultados">
		<caption>Promedio de área en manzanas</caption>
		<thead>
			<tr>
				<th>Promedio</th>
				<th>{{promedio_mz}} Mz</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			    
		    </tr>
		</tbody>
	</table>
<br></br>
<div>
	<table class="tabla-resultados">
		<caption>Seguridad legal de la tenencia de la tierra – totales</caption>
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Frecuencia ({{numero}})</th>
			</tr>
		</thead>
		<tbody>
			{% for value in tabla_dicc1 %}
			<tr>
			    <td>{{value.0|truncate_init:4}}</td>
			    <td>{{value.1}}</td>	
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<div>
	<table class="tabla-resultados">
		<caption>Varón Jefe</caption>
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Frecuencia ({{hombre_jefes}})</th>
			</tr>
		</thead>
		<tbody>
			{% for value in tabla_dicc1 %}
			<tr>
			    <td>{{value.0|truncate_init:4}}</td>
			    {% with tabla=dicc1_h_m|get_value:value.0 %}
				<td>{{tabla.hombre}}</td>
				
				{% endwith %}
		    </tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo1" class="grafo"></div>
</div>
<div>
	<table class="tabla-resultados">
		<caption>Mujer jefa</caption>
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Frecuencia ({{mujer_jefes}})</th>
			</tr>
		</thead>
		<tbody>
			{% for value in tabla_dicc1 %}
			<tr>
			    <td>{{value.0|truncate_init:4}}</td>
			    {% with tabla=dicc1_h_m|get_value:value.0 %}
				<td>{{tabla.mujer}}</td>
				{% endwith %}
		    </tr>		
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo2" class="grafo"></div>
</div>
{% endblock %}
