{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Aguas clorada{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
  var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'column'
      },
      title: {
         text: 'Acceso a agua de riego para agricultura'
      },
      subtitle: {
         text: 'Número de familias con riego según sistema de riego y sexo del jefe de familia'
      },
      xAxis: {
         categories: [
            'Total', 
            'Mujer jefa', 
            'Varón jefe'
         ]
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Número de familias'
         }
      },
      legend: {
         layout: 'vertical',
         //backgroundColor: Highcharts.theme.legendBackgroundColor || '#FFFFFF',
         align: 'right',
         verticalAlign: 'top',
         x: 0,
         y: 70,
         floating: true,
         shadow: true
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ this.y +'%';
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
           series: [{
         name: 'Aspersión',
         data: [{{total_aspersion|calcular_frecuencia:numero}},{{aspersion_m|calcular_frecuencia:numero}},{{aspersion_h|calcular_frecuencia:numero}}],
         dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                } 
   
      }, {
         name: 'Goteo',
         data: [{{total_goteo|calcular_frecuencia:numero}},{{goteo_m|calcular_frecuencia:numero}},{{goteo_h|calcular_frecuencia:numero}}],
         dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                } 
   
      }, {
         name: 'Gravedad',
         data: [{{total_gravedad|calcular_frecuencia:numero}},{{gravedad_m|calcular_frecuencia:numero}},{{gravedad_h|calcular_frecuencia:numero}}],
         dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                } 
   
      }]
      
   });
   
 });
</script>
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Tipo de riego</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}
<div>
	<table class="tabla-resultados">
	<caption>Sistema de riego agrícola y áreas regadas</caption>
	<thead>
		<tr>		
			<th>Tipo</th>
			<th>Total - (&#8721; mz)[{{numero}}]</th>
			<th>%</th>
			<th>Mujer jefa ({{mujer_jefes}})</th>
			<th>%</th>
			<th>Varón jefe ({{hombre_jefes}})</th>
			<th>%</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		    <td>Aspersión</td>
			<td>{{total_aspersion}} - ({{total_manzadas_aspersion}})</td>
			<td>{{total_aspersion|calcular_frecuencia:numero}}</td>
			<td>{{aspersion_m}}</td>
			<td>{{aspersion_m|calcular_frecuencia:numero}}</td>
			<td>{{aspersion_h}}</td>
			<td>{{aspersion_h|calcular_frecuencia:numero}}
		</tr>
		<tr>
		    <td>Goteo</td>
			<td>{{total_goteo}} - ({{total_manzadas_goteo}})</td>
			<td>{{total_goteo|calcular_frecuencia:numero}}</td>
			<td>{{goteo_m}}</td>
			<td>{{goteo_m|calcular_frecuencia:numero}}</td>
			<td>{{goteo_h}}</td>
			<td>{{goteo_h|calcular_frecuencia:numero}}</td>
		</tr>
		<tr>
		    <td>Gravedad</td>
			<td>{{total_gravedad}} - ({{total_manzanas_gravedad}})</td>
			<td>{{total_gravedad|calcular_frecuencia:numero}}</td>
			<td>{{gravedad_m}}</td>
			<td>{{gravedad_m|calcular_frecuencia:numero}}
			<td>{{gravedad_h}}</td>
			<td>{{gravedad_h|calcular_frecuencia:numero}}</td>
		</tr>
<!--		<tr>-->
<!--		    <td>Otros</td>-->
<!--			<td>{{total_otros}} - ({{total_manzanas_otros}})</td>-->
<!--			<td>{{otro_m}}</td>-->
<!--			<td>{{otro_h}}</td>-->
<!--		</tr>-->
		<tr>
		    <td>No tiene riego</td>
			<td>{{no_tiene_riego}}</td>
		</tr>
	</tbody>
	</table>
	<div id="container" class="grafo"></div>
</div>
<br>
{% endblock %}
