{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Acceso a tierra{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
    var plotOptions = {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: false
            },
            series: {
                    pointWidth: 35,
                    minPointLength : 1
                },
            showInLegend: true
         },
         series: {
            dataLabels: {
                enabled: true,
                align: "center",
                formatter: function() {
                    return ''+ this.percentage.toFixed(1) + ' %';
                },
                color: '#000',
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y;
        }
    }
    $(document).ready(function(){
    	var chart = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Acceso a tierra'
            },
            subtitle: {
                text: ''
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for value in tabla_dicc1 %}['{{value.0}}', {{value.1}}]{% if not forloop.last %}, {% endif %}{% endfor %}]}]
        });
        
        var chart2 = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo1',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Hombre jefe'
            },
            subtitle: {
                text: ''
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for value in tabla_dicc1 %}['{{value.0}}', {% with tabla=dicc1_h_m|get_value:value.0 %}{{tabla.hombre}}{% endwith %}]{% if not forloop.last %}, {% endif %}{% endfor %}]}]
        });
        
        var chart3 = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo2',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Mujer jefe'
            },
            subtitle: {
                text: ''
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for value in tabla_dicc1 %}['{{value.0}}', {% with tabla=dicc1_h_m|get_value:value.0 %}{{tabla.mujer}}{% endwith %}]{% if not forloop.last %}, {% endif %}{% endfor %}]}]
        });
           	
    });
</script>
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Acceso Tierra</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}

<div>
	<table class="tabla-resultados">
		<caption>Acceso a tierra por rangos de manzanas</caption>
		<thead>
			<tr>
				<th>Rangos</th>
				<th>Totales({{numero}})</th>
				<th>%</th>
				<th>Varón jefe({{hombre_jefes}})</th>
				<th>%</th>
				<th>Mujer jefa({{mujer_jefes}})</th>
				<th>%</th>
				
			</tr>
		</thead>
		<tbody>
			<tr>
			    <td>0 mz</td>
			    <td>{{total_rango_cero}}</td>
			    <td>{{total_rango_cero|calcular_frecuencia:numero}}</td>
			    <td>{{hombre_no_tiene}}</td>
			    <td>{{hombre_no_tiene|calcular_frecuencia:hombre_jefes}}</td>
			    <td>{{mujer_no_tiene}}</td>
			    <td>{{mujer_no_tiene|calcular_frecuencia:mujer_jefes}}</td>
			    
		    </tr>
		    <tr>
			    <td>0.1 - 1 mz</td>
			    <td>{{t_rango2}}</td>
			    <td>{{t_rango2|calcular_frecuencia:numero}}</td>
			    <td>{{h_rango2}}</td>
			    <td>{{h_rango2|calcular_frecuencia:hombre_jefes}}</td>
			    <td>{{m_rango2}}</td>
			    <td>{{m_rango2|calcular_frecuencia:mujer_jefes}}</td>
			    
		    </tr>
		    <tr>
			    <td>1.1 - 5 mz</td>
			    <td>{{t_rango3}}</td>
			    <td>{{t_rango3|calcular_frecuencia:numero}}</td>
			    <td>{{h_rango3}}</td>
			    <td>{{h_rango3|calcular_frecuencia:hombre_jefes}}</td>
			    <td>{{m_rango3}}</td>
			    <td>{{m_rango3|calcular_frecuencia:mujer_jefes}}</td>
			    
		    </tr>
		    <tr>
			    <td>5.1 - 10 mz</td>
			    <td>{{t_rango4}}</td>
			    <td>{{t_rango4|calcular_frecuencia:numero}}</td>
			    <td>{{h_rango4}}</td>
			    <td>{{h_rango4|calcular_frecuencia:hombre_jefes}}</td>
			    <td>{{m_rango4}}</td>
			    <td>{{m_rango4|calcular_frecuencia:mujer_jefes}}</td>
			    
		    </tr>
		    <tr>
			    <td>más de 10 mz</td>
			    <td>{{t_rango5}}</td>
			    <td>{{t_rango5|calcular_frecuencia:numero}}</td>
			    <td>{{h_rango5}}</td>
			    <td>{{h_rango5|calcular_frecuencia:hombre_jefes}}</td>
			    <td>{{m_rango5}}</td>
			    <td>{{m_rango5|calcular_frecuencia:mujer_jefes}}</td>
			    
		    </tr>
		</tbody>
	</table>
	
</div>
<br></br>
	<table class="tabla-resultados">
		<caption>Promedio de Manzanas</caption>
		<thead>
			<tr>
				<th>Promedio</th>
				<th>{{promedio_mz}} Mz</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			    
		    </tr>
		</tbody>
	</table>
<br></br>
<div>
	<table class="tabla-resultados">
		<caption>Totales</caption>
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Frecuencia({{numero}})</th>
			</tr>
		</thead>
		<tbody>
			{% for value in tabla_dicc1 %}
			<tr>
			    <td>{{value.0}}</td>
			    <td>{{value.1}}</td>	
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<div>
	<table class="tabla-resultados">
		<caption>Varón Jefe</caption>
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Frecuencia ({{hombre_jefes}})</th>
			</tr>
		</thead>
		<tbody>
			{% for value in tabla_dicc1 %}
			<tr>
			    <td>{{value.0}}</td>
			    {% with tabla=dicc1_h_m|get_value:value.0 %}
				<td>{{tabla.hombre}}</td>
				
				{% endwith %}
		    </tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo1" class="grafo"></div>
</div>
<div>
	<table class="tabla-resultados">
		<caption>Mujer jefa</caption>
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Frecuencia ({{mujer_jefes}})</th>
			</tr>
		</thead>
		<tbody>
			{% for value in tabla_dicc1 %}
			<tr>
			    <td>{{value.0}}</td>
			    {% with tabla=dicc1_h_m|get_value:value.0 %}
				<td>{{tabla.mujer}}</td>
				{% endwith %}
		    </tr>		
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo2" class="grafo"></div>
</div>
{% endblock %}
