{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Aguas clorada{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'El agua viene clorada?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Varon jefe',
                    'Mujer jefa'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
            series: [
            {
                name: 'Si',
                data: [{{helmy.0.2}},{{helmy.0.4}}],
                dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                }  
            },
            {
                name: 'No',
                data: [{{helmy.1.2}},{{helmy.1.4}}],
                dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                }  
            },
            {
                name: 'No sabe',
                data: [{{helmy.2.2}},{{helmy.2.4}}],
                dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                }  
            }
            ]
        });
    });
    
 var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container1',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Si no viene clorada que hace usted?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Varon jefe',
                    'Mujer jefa'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
            series: [
            {
                name: 'Le da tratamiento',
                data: [{{giacoman.0.2}},{{giacoman.0.4}}],
                dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                }  
            },
            {
                name: 'No le da tratamiento',
                data: [{{giacoman.1.2}},{{giacoman.1.4}}],
                dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                }  
            },
            {
                name: 'No aplica, viene clorada',
                data: [{{giacoman.2.2}},{{giacoman.2.4}}],
                dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 14px Verdana, sans-serif'
                                }
                                }  
            }
            ]
        });
    });
</script>    
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Consumo de agua segura</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}
<div>
	<table class="tabla-resultados">
	<caption>¿El agua que consume viene clorada?</caption>
	<thead>
		<tr>
		    <th>Tipo</th>
		    <th>Varón jefe ({{hombre_jefes}})</th>
			<th>%</th>
			<th>Mujer jefa ({{mujer_jefes}})</th>
			<th>%</th>
			<th>Total ({{numero}})</th>
		</tr>
	</thead>
	<tbody>
	    {%for nose in helmy%}
	    <tr>
	        {%for o in nose%}
	            <td>{{o}}</td>
	        {%endfor%}
	    </tr>
	    {%endfor%}
	</tbody>
	</table>
	<div id="container" class="grafo"></div>
	
	<table class="tabla-resultados">
	<caption>¿Si no viene clorada le da tratamiento usted?</caption>
	<thead>
		<tr>
		    <th>Tipo</th>
		    <th>Varón jefe ({{hombre_jefes}})</th>
			<th>%</th>
			<th>Mujer jefa ({{mujer_jefes}})</th>
			<th>%</th>
			<th>Total ({{numero}})</th>
		</tr>
	</thead>
	<tbody>
	    {%for tampoco in giacoman%}
	    <tr>
	        {%for o in tampoco%}
	            <td>{{o}}</td>
	        {%endfor%}
	    </tr>
	    {%endfor%}
	</tbody>
	</table>
	<div id="container1" class="grafo"></div>
</div>
<br>
{% endblock %}
