{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Aguas clorada{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
   var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'sexo-jefe',
         defaultSeriesType: 'column',
         marginRight: 130,
         marginBottom: 25
      },
      title: {
         text: '% Aumentado el acceso de las familas a agua segura para el consumo humano',
         x: -20 //center
      },
      subtitle: {
         text: '',
         x: -20
      },
      xAxis: {
         categories: ['Cloran', 'Tratan el agua', 'No clora/trata', 'No sabe']
      },
      yAxis: {
         title: {
            text: '%'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y;
         }
      },
      plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 35,
                    minPointLength : 1
                }
            },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 0,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: '% de familias consumiendo agua clorada o tratada',
         data: [{{tabla_aguas.porcentaje_cloran}}, {{tabla_aguas.porcentaje_tratan}},
                {{tabla_aguas.porcentaje_no}}, {{tabla_aguas.porcentaje_no_saben}}]
      }]
   });
   
   
});
</script>
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Familas consumiendo agua clorada o tratada</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}
<div>
	<table class="tabla-resultados">
	<caption>Porcentaje % de Familas consumiendo agua clorada o tratada</caption>
	<thead>
		<tr>
		    <th>Tipo</th>		
			<th>Mujer jefa ({{mujer_jefes}})</th>
			<th>%</th>
			<th>Varón jefe ({{hombre_jefes}})</th>
			<th>%</th>
			<th>Total ({{numero}})</th>
			<th>%</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		    <td>Cloran el agua</td>
			<td>{{tabla_aguas.f_clora}}</td>
			<td>{{tabla_aguas.porcentaje_f_clora}}</td>
			<td>{{tabla_aguas.m_clora}}</td>
			<td>{{tabla_aguas.porcentaje_m_clora}}</td>
			<td>{{tabla_aguas.combinado_cloran}}</td>
			<td>{{tabla_aguas.porcentaje_cloran}}</td>
		</tr>
		<tr>
		    <td>Tratan el agua</td>
			<td>{{tabla_aguas.f_trata}}</td>
			<td>{{tabla_aguas.porcentaje_f_trata}}</td>
			<td>{{tabla_aguas.m_trata}}</td>
			<td>{{tabla_aguas.porcentaje_m_trata}}</td>
			<td>{{tabla_aguas.combinado_tratan}}</td>
			<td>{{tabla_aguas.porcentaje_tratan}}</td>
		</tr>
		<tr>
		    <td>No clora/trata</td>
			<td>{{tabla_aguas.f_no}}</td>
			<td>{{tabla_aguas.porcentaje_f_no}}</td>
			<td>{{tabla_aguas.m_no}}</td>
			<td>{{tabla_aguas.porcentaje_m_no}}</td>
			<td>{{tabla_aguas.combinado_no}}</td>
			<td>{{tabla_aguas.porcentaje_no}}</td>
		</tr>
		<tr>
		    <td>No sabe</td>
			<td>{{tabla_aguas.f_no_sabe}}</td>
			<td>{{tabla_aguas.porcentaje_f_no_sabe}}</td>
			<td>{{tabla_aguas.m_no_sabe}}</td>
			<td>{{tabla_aguas.porcentaje_m_no_sabe}}</td>
			<td>{{tabla_aguas.combinado_no_sabe}}</td>
			<td>{{tabla_aguas.porcentaje_no_saben}}</td>
		</tr>
	</tbody>
	</table>
	<div id="sexo-jefe" class="grafo"></div>
</div>
<br>
{% endblock %}
