{% extends "base.html" %}
{% block extratitle %}Consultas avanzadas{% endblock %}

{%block extrahead%}
<script type="text/javascript">
    $(document).ready(function() {
        var departamento = document.getElementById("id_departamento");
        var municipio = document.getElementById("id_municipio");
        var comarca = document.getElementById("id_comarca");
        
        //municipios
        $("#id_departamento").change(function () {
            var index = departamento.options.selectedIndex;
            var id = departamento.options[index].value;
            $.getJSON("ajax/municipio/" + id +"/",
            function(data){
                municipio.options.length = 0;
                municipio.options[0] = new Option("--------");
                for(i=0; i< data.length; i++){
                    municipio.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
        //comarca
        $("#id_municipio").change(function () {
            var index = municipio.options.selectedIndex;
            var id = municipio.options[index].value;
            $.getJSON("ajax/comarca/" + id +"/",
            function(data){
                comarca.options.length = 0;
                comarca.options[0] = new Option("---------");
                for(i=0; i< data.length; i++){
                    comarca.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
    });
</script>
{% endblock %}


{% block contenido %}
<div style="float:left;">  
    <form method="POST" action="." id="consultar-form">{% csrf_token %}
        <div class="general">
            <div class="columnaform">
                <div class="label">{{form.fecha.label}}</div>
                <div class="filtros">{{form.fecha}}<br>{{form.fecha.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.contraparte.label}}</div>
                <div class="filtros">{{form.contraparte}}<br>{{form.contraparte.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.departamento.label}}</div>
                <div class="filtros">{{form.departamento}}<br>{{form.departamento.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.municipio.label}}</div>
                <div class="filtros">{{form.municipio}}<br>{{form.municipio.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.comarca.label}}</div>
                <div class="filtros">{{form.comarca}}<br>{{form.comarca.errors}}</div> 
                <div class="clean"></div>    
                <div class="label">{{form.escolaridad_beneficiario.label}}</div>
                <div class="filtros">{{form.escolaridad_beneficiario}}<br>{{form.escolaridad_beneficiario.errors}}</div>
                <div class="clean"></div>
            <div class="label">{{form.escolaridad_conyugue.label}}</div>
            <div class="filtros">{{form.escolaridad_conyugue}}<br>{{form.escolaridad_conyugue.errors}}</div>
            <div class="clean"></div>
        </div>
        <div class="columnaform"><br>
            <div class="label">Indice de dependencia</div>
            <div class="filtros">{{form.indice_dep}}<br>{{form.indice_dep.errors}}</div>            
            <div class="clean"></div>
            <div class="label">{{form.familia_beneficiario.label}}</div>
            <div class="filtros">{{form.familia_beneficiario}}<br>{{form.familia_beneficiario.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.credito_acceso.label}}</div>
            <div class="filtros">{{form.credito_acceso}}<br>{{form.credito_acceso.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.desicion_gasto_mayor.label}}</div>
            <div class="filtros">{{form.desicion_gasto_mayor}}<br>{{form.desicion_gasto_mayor.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.desicion_inversion.label}}</div>
            <div class="filtros">{{form.desicion_inversion}}<br>{{form.desicion_inversion.errors}}</div>
            <div class="clean"></div>
            </div>
            <div class="clean"></div>
        <input type="submit" value=""  class="consultar"/>
        <div class="clean"></div>
        </div>        
    </form>
</div>
{% if muestra_indicador = 1 %}
<div id="bloqueindicadores">
    <div class="indicadorcategoria">INGRESOS</div>
        <a href="{% url ingresos_generic_range %}">Ingresos Totales</a>
        <a href="{% url ingresos_ganado %}">Ganado</a>
        <a href="{% url ingresos_agropecuarios %}">Ingresos Agropecuarios Totales</a>
<!--

        <a href="{%url fuentes_ap_generic_range%}">Fuentes agropecuarias</a>
        <a href="{%url fuentes_no_ap_generic_range%}">Fuentes no agropecuarias</a>

-->
        

        <div class="clean"></div>
        <!--
    <div class="indicadorcategoria">PRODUCCION</div>
        <a href="{%url produccion_maiz%}">Maíz</a>
        <a href="{%url produccion_frijol%}">Frijol</a>
        <a href="{%url produccion_cafe%}">Café</a>
        <a href="{%url produccion_cacao%}">Cacao</a>
        <a href="{%url produccion_bovino%}">Animales Bovinos</a>
        <a href="{%url produccion_aves%}">Aves</a>
        <div class="clean"></div>
        -->
    <div class="indicadorcategoria">PRODUCTIVIDAD</div>
        <a href="{%url productividad_maiz%}">Maíz</a>
        <a href="{%url productividad_frijol%}">Frijol</a>
        <a href="{%url productividad_cafe%}">Café</a>
        <a href="{%url productividad_cacao%}">Cacao</a>
        <div class="clean"></div>
</div>
{% endif %}
{{encuestas.count}}
<div class="clean"></div>
<br>
{% endblock %}
