<script type="text/javascript">	
    $(document).ready(function() {
    	var departamento = document.getElementById("id_departamento");
    	var municipio = document.getElementById("id_municipio");
    	var comarca = document.getElementById("id_comarca");
    	
        //municipios
        $("#id_departamento").change(function () {
            var index = departamento.options.selectedIndex;
            var id = departamento.options[index].value;
            $.getJSON("/consultar/ajax/municipio/" + id +"/",
            function(data){
                municipio.options.length = 0;
                municipio.options[0] = new Option("--------");
                for(i=0; i< data.length; i++){
                    municipio.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
        //comarca
        $("#id_municipio").change(function () {
            var index = municipio.options.selectedIndex;
            var id = municipio.options[index].value;
            $.getJSON("/consultar/ajax/comarca/" + id +"/",
            function(data){
                comarca.options.length = 0;
                comarca.options[0] = new Option("---------");
                for(i=0; i< data.length; i++){
                    comarca.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });        
    });
</script>
<div id="consultar-sidebar">
    <form method="POST" action="/consultar/" id="consultar-form">{% csrf_token %}
        <div class="general">
            <div class="label">{{form.fecha.label}}</div>
            <div class="filtros">{{form.fecha}}<br>{{form.fecha.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.contraparte.label}}</div>
            <div class="filtros">{{form.contraparte}}<br>{{form.contraparte.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.departamento.label}}</div>
            <div class="filtros">{{form.departamento}}<br>{{form.departamento.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.municipio.label}}</div>
            <div class="filtros">{{form.municipio}}<br>{{form.municipio.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.comarca.label}}</div>
            <div class="filtros">{{form.comarca}}<br>{{form.comarca.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.escolaridad_beneficiario.label}}</div>
            <div class="filtros">{{form.escolaridad_beneficiario}}<br>{{form.escolaridad_beneficiario.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.escolaridad_conyugue.label}}</div>
            <div class="filtros">{{form.escolaridad_conyugue}}<br>{{form.escolaridad_conyugue.errors}}</div>
            <div class="clean"></div>
			<br>
            <div class="label">Indice de dependencia</div>
            <div class="filtros">{{form.indice_dep}}<br>{{form.indice_dep.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.familia_beneficiario.label}}</div>
            <div class="filtros">{{form.familia_beneficiario}}<br>{{form.familia_beneficiario.errors}}</div>
            <div class="clean"></div>            
            <div class="label">{{form.credito_acceso.label}}</div>
            <div class="filtros">{{form.credito_acceso}}<br>{{form.credito_acceso.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.desicion_gasto_mayor.label}}</div>
            <div class="filtros">{{form.desicion_gasto_mayor}}<br>{{form.desicion_gasto_mayor.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.desicion_inversion.label}}</div>
            <div class="filtros">{{form.desicion_inversion}}<br>{{form.desicion_inversion.errors}}</div>
            <div class="clean"></div> 
            {{form.next_url}}          
            
            <input type="submit" value=""  class="consultar"/>
            <div class="clean"></div>
        </div>
    </form>    
</div>

<script type='text/javascript'>
	$(document).ready(function(){
		$('#id_nexturl').val(window.location.href);
		{% if request.session.contraparte %}
		$('#id_contraparte').val({{request.session.contraparte.id}});
		{% endif %}
		{% if request.session.departamento %}
		$('#id_departamento').val({{request.session.departamento.id}});		
		$.getJSON("/consultar/ajax/municipio/{{request.session.departamento.id}}/",				
			function(data){
				$('#id_municipio').append($('<option></option>').html('--------'));	            
               	for(i=0; i< data.length; i++){
               		$('#id_municipio').append($('<option></option>').val(data[i][0]).html(data[i][1]));                	
               	}
            {% if request.session.municipio %}
            $('#id_municipio').val({{request.session.municipio.id}});
            $.getJSON("/consultar/ajax/comarca/{{request.session.municipio.id}}/",
            function(data){
            	$('#id_comarca').append($('<option></option>').html('--------'));	            
               	for(i=0; i< data.length; i++){
               		$('#id_comarca').append($('<option></option>').val(data[i][0]).html(data[i][1]));                	
               	}
               	{% if request.session.comarca %}
                $('#id_comarca').val({{request.session.comarca.id}});
                {% endif %}
            });            
            {% endif %}
       	});
		{% endif %}
		
		{% if request.session.indice_dep != 'None' %}
		$('#id_indice_dep').val({{request.session.indice_dep}});
		{% endif %}
		{% if request.session.credito_acceso != 'None' %}
		$('#id_credito_acceso').val({{request.session.credito_acceso}});
		{% endif %}
		{% if request.session.familia_beneficiario != 'None' %}
		$('#id_familia_beneficiario').val({{request.session.familia_beneficiario}});
		{% endif %}
		
		
		{% if request.session.escolaridad_beneficiario != 'None' %}
		$('#id_escolaridad_beneficiario').val({{request.session.escolaridad_beneficiario}});
		{% endif %}
		{% if request.session.escolaridad_conyugue != 'None' %}
		$('#id_escolaridad_conyugue').val({{request.session.escolaridad_conyugue}});
		{% endif %}
	});
</script>
