<!--form-facebox.html-->
<link href="/archivos/js/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="/archivos/js/facebox/facebox.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
       $('a[rel*=facebox]').facebox();
       $("#id_next_url").attr({value:window.location.pathname});
        var departamento = document.getElementById("id_departamento");
        var municipio = document.getElementById("id_municipio");
        var comarca = document.getElementById("id_comarca");
        
        //municipios
        $("#id_departamento").change(function () {
            var index = departamento.options.selectedIndex;
            var id = departamento.options[index].value;
            $.getJSON("/consultar/ajax/municipio/" + id +"/",
            function(data){
                municipio.options.length = 0;
                municipio.options[0] = new Option("--------");
                for(i=0; i< data.length; i++){
                    municipio.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
        //comarca
        $("#id_municipio").change(function () {
            var index = municipio.options.selectedIndex;
            var id = municipio.options[index].value;
            $.getJSON("/consultar/ajax/comarca/" + id +"/",
            function(data){
                comarca.options.length = 0;
                comarca.options[0] = new Option("---------");
                for(i=0; i< data.length; i++){
                    comarca.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
    });
</script>
<div id="form-facebox" style="display:none;">   
    <form method="POST" action="/consultar/" id="consultar-form">{% csrf_token %}
        <div class="general">
                        <div class="columnaform">
                <div class="label">{{form.fecha.label}}</div>
                <div class="filtros">{{form.fecha}}<br>{{form.fecha.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.contraparte.label}}</div>
                <div class="filtros">{{form.contraparte}}<br>{{form.contraparte.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.departamento.label}}</div>
                <div class="filtros">{{form.departamento}}<br>{{form.departamento.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.municipio.label}}</div>
                <div class="filtros">{{form.municipio}}<br>{{form.municipio.errors}}</div>
                <div class="clean"></div>
                <div class="label">{{form.comarca.label}}</div>
                <div class="filtros">{{form.comarca}}<br>{{form.comarca.errors}}</div> 
                <div class="clean"></div>    
                <div class="label">{{form.escolaridad_beneficiario.label}}</div>
                <div class="filtros">{{form.escolaridad_beneficiario}}<br>{{form.escolaridad_beneficiario.errors}}</div>
                <div class="clean"></div>
            <div class="label">{{form.escolaridad_conyugue.label}}</div>
            <div class="filtros">{{form.escolaridad_conyugue}}<br>{{form.escolaridad_conyugue.errors}}</div>
            <div class="clean"></div>
        </div>
        <div class="columnaform"><br>
            <div class="label">{{form.dependientes_max.label}}</div>
            <div class="filtros">{{form.dependientes_max}}<br>{{form.dependientes_max.errors}}</div>
            <div class="filtros">{{form.dependientes_min}}<br>{{form.dependientes_min.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.familia_beneficiario.label}}</div>
            <div class="filtros">{{form.familia_beneficiario}}<br>{{form.familia_beneficiario.errors}}</div>
            <div class="clean"></div>
<!--
            <div class="label">{{form.ingresos_fuente.label}}</div>
            <div class="filtros">{{form.ingresos_total}}<br>{{form.ingresos_total.errors}}</div>
            <div class="clean"></div>
-->
            <div class="label">{{form.credito_acceso.label}}</div>
            <div class="filtros">{{form.credito_acceso}}<br>{{form.credito_acceso.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.desicion_gasto_mayor.label}}</div>
            <div class="filtros">{{form.desicion_gasto_mayor}}<br>{{form.desicion_gasto_mayor.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.desicion_inversion.label}}</div>
            <div class="filtros">{{form.desicion_inversion}}<br>{{form.desicion_inversion.errors}}</div>
            <div class="clean"></div>
<!--
            <div class="label">{{form.finca_area_total.label}}</div>
            <div class="filtros">{{form.finca_area_total}}<br>{{form.finca_area_total.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.finca_num_productos.label}}</div>
            <div class="filtros">{{form.finca_num_productos}}<br>{{form.finca_num_productos.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.finca_num_vacas.label}}</div>
            <div class="filtros">{{form.finca_num_vacas}}<br>{{form.finca_num_vacas.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.finca_riego.label}}</div>
            <div class="filtros">{{form.finca_riego}}<br>{{form.finca_riego.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.finca_conssa.label}}</div>
            <div class="filtros">{{form.finca_conssa}}<br>{{form.finca_conssa.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.finca_num_productos.label}}</div>
            <div class="filtros">{{form.finca_num_productos}}<br>{{form.finca_num_productos.errors}}</div>
            <div class="clean"></div>
--> {{form.next_url}}
            </div>
            <div class="clean"></div>
                    <button class="consultar"></button>
        <div class="clean"></div>
        </div>        
   
    </form>
</div>
<div class="clean"></div>
<br>
<!--end form-fancybox-->
