{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Aguas clorada{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
  var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Hombres realizan tareas domésticas y cuidado de sus hijos/as'
            },
            subtitle: {
                text: '% de familias con hombres realizando estas tareas con frecuencia'
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'porcentajes'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 35,
                    minPointLength : 1
                }
            },
            series: [{% for value in tabla2 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y+'%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
</script>
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Hombres realizando tareas domésticas</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}
<div>
<!--	<table class="tabla-resultados">-->
<!--	<caption>Porcentaje % de familias donde los hombre realizan tareas domésticas</caption>-->
<!--	<thead>-->
<!--		<tr>		-->
<!--			<th>Tareas</th>-->
<!--			<th>Total ({{numero}})</th>-->
<!--			<th>%</th>-->
<!--			<th>Varón jefe ({{hombre_jefes}})</th>-->
<!--			<th>%</th>-->
<!--			<th>Mujer jefa ({{mujer_jefes}})</th>-->
<!--			<th>%</th>-->
<!--			-->
<!--		</tr>-->
<!--	</thead>-->
<!--	<tbody>-->
<!--    	{%for value in tabla_resp %}-->
<!--    	<tr>-->
<!--                <td>{{value.0}}</td>-->
<!--                {%for x in value.1%}-->
<!--                    <td>{{x}}</td>-->
<!--                {%endfor%}-->
<!--        {%endfor%}-->
<!--	</tbody>-->
<!--	</table>-->
<!--	<div id="container" class="grafo"></div>-->
	{% with tabla=carlos titulo='Varon jefe' primer_td='Tareas' colspan=4 titulo_combinado='Hombres realizan tareas domésticas y cuidado de sus hijos/as' percent=1 %}
    {% include "encuestas/tabla_generica.html" %}
    {% endwith %}
    <br></br>
    {% with tabla=rocha titulo='Mujer jefa' primer_td='Tareas' colspan=4 titulo_combinado='Hombres que hacen tareas domestica cuando la mujer es jefa' percent=1 %}
    {% include "encuestas/tabla_generica.html" %}
    {% endwith %}
</div>
<br>
{% endblock %}
