{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Aguas clorada{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
var chart;
 $(document).ready(function() {
    chart = new Highcharts.Chart({
       chart: {
          renderTo: 'container',
          defaultSeriesType: 'pie',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
       },
       title: {
          text: 'Hombres que hacen tareas domestica cuando el hombre es jefe'
       },
       subtitle: {
          text: 'Lo hace con frecuencia'
       },
       tooltip: {
          formatter: function() {
             return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
          }
      },
       plotOptions: {
          pie: {
             allowPointSelect: true,
             cursor: 'pointer',
             dataLabels: {
                enabled: true,
                formatter: function() {
                   return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
              },
             showInLegend: true
          }
       },
        series: [{
          data: [
             ['Lava y plancha',  {{carlos.152_lava_y_plancha.lo_hace_con_frecuencia|calcular_frecuencia:lava}}],
             ['Cocina',   {{carlos.151_cocina.lo_hace_con_frecuencia|calcular_frecuencia:cocina}}],
            ['Lleva a sus hijos al centro de salud',   {{carlos.150_lleva_sus_hijos_e_hijas_al_centro_de_salud.lo_hace_con_frecuencia|calcular_frecuencia:lleva}}],
             ['Asiste a las reuniones de la escuela',   {{carlos.149_asiste_a_las_reuniones_de_la_escuela.lo_hace_con_frecuencia|calcular_frecuencia:asiste}}],
             ['Atiende a sus hijas e hijos',   {{carlos.154_atiende_a_sus_hijas_e_hijos.lo_hace_con_frecuencia|calcular_frecuencia:atiende}}],
             ['Barre limpia la casa',   {{carlos.153_barre_limpia_la_casa.lo_hace_con_frecuencia|calcular_frecuencia:barre}}],
          ]
       }]
    });
 });
 
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container1',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Hombres que hacen tareas domestica cuando la mujer es jefa'
      },
      subtitle: {
         text: 'Lo hace con frecuencia'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{
         data: [
            ['Lava y plancha',  {{rocha.152_lava_y_plancha.lo_hace_con_frecuencia|calcular_frecuencia:lava1}}],
            ['Cocina',   {{rocha.151_cocina.lo_hace_con_frecuencia|calcular_frecuencia:cocina1}}],
            ['Lleva a sus hijos al centro de salud',   {{rocha.150_lleva_sus_hijos_e_hijas_al_centro_de_salud.lo_hace_con_frecuencia|calcular_frecuencia:lleva1}}],
            ['Asiste a las reuniones de la escuela',   {{rocha.149_asiste_a_las_reuniones_de_la_escuela.lo_hace_con_frecuencia|calcular_frecuencia:asiste1}}],
            ['Atiende a sus hijas e hijos',   {{rocha.154_atiende_a_sus_hijas_e_hijos.lo_hace_con_frecuencia|calcular_frecuencia:atiende1}}],
            ['Barre limpia la casa',   {{rocha.153_barre_limpia_la_casa.lo_hace_con_frecuencia|calcular_frecuencia:barre1}}],
         ]
      }]
   });
});
</script>
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Hombres realizando tareas domésticas</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}
<div>
	{% with tabla=carlos titulo='Varon jefe' primer_td='Tareas' colspan=4 titulo_combinado='Hombres realizan tareas domésticas y cuidado de sus hijos/as' percent=1 %}
    {% include "encuestas/tabla_generica.html" %}
    {% endwith %}
    <div id="container"></div>
    <br></br>
    {% with tabla=rocha titulo='Mujer jefa' primer_td='Tareas' colspan=4 titulo_combinado='Hombres que hacen tareas domestica cuando la mujer es jefa' percent=1 %}
    {% include "encuestas/tabla_generica.html" %}
    {% endwith %}
    <div id="container1"></div>
</div>
<br>
{% endblock %}
