{% extends "base.html" %}
{% block contenido %}
<h2>Indicadores</h2>
<ul>
  <li><a href="{%url ingresos_generic_range%}">Ingresos Totales</a></li>
  <li><a href="{%url ingresos_ganado %}">Ingresos por Ganado</a></li>
  <li><a href="{%url fuentes_ap_generic_range%}">Ingresos por fuentes agropecuarias</a></li>
  <li><a href="{%url fuentes_no_ap_generic_range%}">Ingresos por fuentes no agropecuarias</a></li>
  <li><a href="{%url produccion_maiz%}">Producción Maíz</a></li>
  <li><a href="{%url produccion_frijol%}">Producción Maíz</a></li>
  <li><a href="{%url produccion_cafe%}">Producción café</a></li>
  <li><a href="{%url produccion_cacao%}">Producción Cacao</a></li>
  <li><a href="{%url produccion_bovino%}">Producción Animales Bovinos</a></li>
  <li><a href="{%url produccion_aves%}">Producción de Aves</a></li>
  <li><a href="{%url productividad_maiz%}">Productividad del Maíz</a></li>
  <li><a href="{%url productividad_frijol%}">Productividad del Frijol</a></li>
  <li><a href="{%url productividad_cafe%}">Productividad del Café</a></li>
  <li><a href="{%url productividad_cacao%}">Productividad del Cacao</a></li>
</ul>



{%endblock%}
