{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Ingreso desglosado{% endblock %}
{% load humanize %}
{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tabify.js"></script>

<script type="text/javascript">	
	$(document).ready(function () {
		$('#desglos').tabify();
	});
					
</script>

<style type="text/css" media="screen">
#desglos { padding: 0; }
#desglos li { display: inline; }
#desglos li a { background: #ccf; padding: 10px; float:left; border-right: 1px solid #ccf; border-bottom: none; text-decoration: none; color: #000; font-weight: bold;}
#desglos li.active a { background: #eef; }
.con { float: left; clear: both; border: 1px solid #ccf; border-top: none; border-left: none; background: #eef; padding: 10px 20px 20px; width: 920px; }
        ​
</style>

{% endblock %}

{%block contenido%}

{% include "encuestas/navegacion.html"%}
<div class="title_bar">
    <div class="titulo">Ingresos por categoria</div>
    <div class="titulo der"><a href="/consultarsimple/">&larr; Volver</a></div>
</div>
{% include "encuestas/filtros_seleccionados.html" %}

<ul id="desglos" class="desglos">
	<li class="active"><a href="#contentHome">Familias con jefes hombres</a></li>
    <li><a href="#contentGuestbook">Familias con jefe mujer</a></li>
</ul>

<div class="con" id="contentHome">
# de familias jefes hombres ({{hombres}})
	<h3>Ingreso por venta de cultivos periodos</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Primera</th>
			<th>Postrera</th>
			<th>Apante</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in periodo_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="4" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{periodo_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de cultivos permanentes</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombre</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in permanente_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{permanente_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de cultivos estacionales</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in estacionales_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{estacionales_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de cultivos hortalizas</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in hortaliza_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{hortaliza_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por la produccion agricola de patio</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th></th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{patio_h|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingresos por la comercialización del ganado mayor y menor</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in ganado_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{ganado_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de producto lactios</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>verano</th>
			<th>invierno</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in lacteos_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="3" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{lacteos_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de producto procesados</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in pproceso_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{pproceso_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por otros ingresos</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in otroingreso_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{otroingreso_h.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingresos consolidados familas jefes hombres</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres</caption>
	<thead>
		<tr>
			<th>Ingreso consolidado</th>
			<th>Ingreso total</th>
			<th>Ingreso / familia</th>
		</tr>
	</thead>
		<tbody>

			<tr>
				<td colspan="1" >Ingreso venta de cultivos periodos</td>
        		<td><strong>C$ {{periodo_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{periodo_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta de cultivos permanentes</td>
        		<td><strong>C$ {{permanente_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{permanente_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta de cultivos estacionales</td>
        		<td><strong>C$ {{estacionales_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{estacionales_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta de cultivos hortalizas</td>
        		<td><strong>C$ {{hortaliza_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{hortaliza_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso producción agricola de patio</td>
        		<td><strong>C$ {{patio_h|intcomma}}</strong></td>
        		<td><strong>C$ {{patio_h|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso comercializacioón ganado</td>
        		<td><strong>C$ {{ganado_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{ganado_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta productos lacteos</td>
        		<td><strong>C$ {{lacteos_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{lacteos_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta productos procesados</td>
        		<td><strong>C$ {{pproceso_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{pproceso_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" ><strong>Ingreso total anual</strong></td>
        		<td><strong>C$ {{ingreso_hombres|intcomma}}</strong></td>
        		<td><strong>C$ {{ingreso_hombres|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" ><strong>Ingreso total anual NO agropecuario</strong></td>
        		<td><strong>C$ {{otroingreso_h.1|intcomma}}</strong></td>
        		<td><strong>C$ {{otroingreso_h.1|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" ><strong>Total ingreso</strong></td>
        		<td><strong>C$ {{total_h|intcomma}}</strong></td>
        		<td><strong>C$ {{total_h|ingresoxfamilia:hombres|intcomma }}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>


</div>

<div class="con" id="contentGuestbook">
# de familas jefas mujeres ({{mujeres}})
<h3>Ingreso por venta de cultivos periodos</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Primera</th>
			<th>Postrera</th>
			<th>Apante</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in periodo_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="4" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{periodo_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de cultivos permanentes</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in permanente_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{permanente_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de cultivos estacionales</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in estacionales_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{estacionales_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de cultivos hortalizas</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in hortaliza_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{hortaliza_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por la produccion agricola de patio</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujer</caption>
	<thead>
		<tr>
			<th></th>
			<th>Total mujer</th>
		</tr>
	</thead>
		<tbody>

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{patio_m|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingresos por la comercialización del ganado mayor y menor</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in ganado_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{ganado_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por ventas de producto lacteos</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>verano</th>
			<th>invierno</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in lacteos_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="3" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{lacteos_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por venta de producto procesados</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in pproceso_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{pproceso_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingreso por otros ingresos</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in otroingreso_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="1" ><strong>Ingreso anual</strong></td>
        		<td><strong>C$ {{otroingreso_m.1|intcomma}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

<h3>Ingresos consolidados familas jefes mujeres</h3>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres</caption>
	<thead>
		<tr>
			<th>Ingreso consolidado</th>
			<th>Ingreso total</th>
			<th>Ingreso / familia</th>
		</tr>
	</thead>
		<tbody>

			<tr>
				<td colspan="1" >Ingreso venta de cultivos periodos</td>
        		<td><strong>C$ {{periodo_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{periodo_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta de cultivos permanentes</td>
        		<td><strong>C$ {{permanente_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{permanente_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta de cultivos estacionales</td>
        		<td><strong>C$ {{estacionales_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{estacionales_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta de cultivos hortalizas</td>
        		<td><strong>C$ {{hortaliza_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{hortaliza_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso producción agricola de patio</td>
        		<td><strong>C$ {{patio_m|intcomma}}</strong></td>
        		<td><strong>C$ {{patio_m|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso comercializacioón ganado</td>
        		<td><strong>C$ {{ganado_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{ganado_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta productos lacteos</td>
        		<td><strong>C$ {{lacteos_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{lacteos_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" >Ingreso venta productos procesados</td>
        		<td><strong>C$ {{pproceso_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{pproceso_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" ><strong>Ingreso total anual</strong></td>
        		<td><strong>C$ {{ingreso_mujeres|intcomma}}</strong></td>
        		<td><strong>C$ {{ingreso_mujeres|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" ><strong>Ingreso total anual NO agropecuario</strong></td>
        		<td><strong>C$ {{otroingreso_m.1|intcomma}}</strong></td>
        		<td><strong>C$ {{otroingreso_m.1|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="1" ><strong>Total ingreso</strong></td>
        		<td><strong>C$ {{total_m|intcomma}}</strong></td>
        		<td><strong>C$ {{total_m|ingresoxfamilia:mujeres|intcomma }}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>

</div>
{%endblock%}