{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Ingreso desglosado{% endblock %}

{%block contenido%}

<h3>Cultivos periodos</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Primera</th>
			<th>Postrera</th>
			<th>Apante</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in periodo_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="4" >total</td>
        		<td><strong>C$ {{periodo_h.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>

<div>
	<table class="tabla-resultados">
	<caption>Mujeres ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Primera</th>
			<th>Postrera</th>
			<th>Apante</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in periodo_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="4" >total</td>
        		<td><strong>C$ {{periodo_m.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<h3>Cultivos permanentes</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombre ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total hombre</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in permanente_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{permanente_h.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in permanente_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{permanente_m.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<h3>Cultivos estacionales</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombre ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total hombre</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in estacionales_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{estacionales_h.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in estacionales_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{estacionales_m.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<h3>Cultivos hortalizas</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombre ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total hombre</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in hortaliza_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{hortaliza_h.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in hortaliza_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{hortaliza_m.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<h3>Ingreso por la produccion agricola de patio</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombre, mujer ingresos</caption>
	<thead>
		<tr>
			<th></th>
			<th>Total hombre</th>
			<th>Total mujer</th>
		</tr>
	</thead>
		<tbody>

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{patio_h}}</strong></td>
        		<td><strong>C$ {{patio_m}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<h3>Ingresos por la comercialización del ganado mayor y menor</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombre ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total hombre</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in ganado_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{ganado_h.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres ingresos</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Total mujeres</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in ganado_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{ganado_m.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<h3>Producto lactios</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombres ingresos</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>verano</th>
			<th>invierno</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in lacteos_h.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="3" >total</td>
        		<td><strong>C$ {{lacteos_h.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>

<div>
	<table class="tabla-resultados">
	<caption>Mujeres ingresos</caption>
	<thead>
		<tr>
			<th>Producto</th>
			<th>verano</th>
			<th>invierno</th>
			<th>Total</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in lacteos_m.0.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td colspan="3" >total</td>
        		<td><strong>C$ {{lacteos_m.1}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<h3>Ingresos totales hombre, mujeres</h3>
<div>
	<table class="tabla-resultados">
	<caption>Hombre, mujer ingresos</caption>
	<thead>
		<tr>
			<th></th>
			<th>Total hombre</th>
			<th>Total mujer</th>
		</tr>
	</thead>
		<tbody>

			<tr>
				<td colspan="1" >total</td>
        		<td><strong>C$ {{ingreso_hombres}}</strong></td>
        		<td><strong>C$ {{ingreso_mujeres}}</strong></td>
			</tr>
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>


{%endblock%}