{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Aguas clorada{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
  var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: '% de familias donde los hombre realizan tareas domésticas'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Frecuencia'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 35,
                    minPointLength : 1
                }
            },
            series: [
                {
                    name: 'Gastos mayores para la casa',
                    {%for a in value%}
                    data: [{{a.0}},{{a.1}},{{a.2}},{{a.3}}],
                    {%endfor%}
                },
                {% endfor %}]
        });
    });
</script>
{% endblock %}

{% block contenido %}
total_filtrado-->{{numero}}<br>
{{tabla_mu}}
<div>
	<table class="tabla-resultados">
	<caption>% de familias donde los hombre realizan tareas domésticas</caption>
	<thead>
		<tr>		
			<th>Tipos</th>
			<th>Varón</th>
			<th>Mujer</th>
			<th>Ambos</th>
			<th>No aplica</th>
		</tr>
	</thead>
	<tbody>
    	{%for value in tabla_mu %}
    	<tr>
                <td>{{value.0}}</td>
                {%for a in value.1%}
                <td>{{a}}</td>
                {%endfor%}
                
        {%endfor%}
	</tbody>
	</table>
	<div id="container" class="grafo"></div>
</div>
<br>
{% endblock %}
