{% extends "base.html" %}
{% load tools %}
{% block extratitle %}Participación de la Familia{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script type="text/javascript">
    var plotOptions = {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: false
            },
            showInLegend: true
         },
         series: {
            dataLabels: {
                enabled: true,
                align: "center",
                formatter: function() {
                    return ''+ this.percentage.toFixed(1) + ' %';
                },
                color: '#000',
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y;
        }
    }
    $(document).ready(function(){
    	var chart = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo-cpc',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Participación de los miembros de la familia en los CPC'
            },
            subtitle: {
                text: 'Hombre, Mujer, Ambos'
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for key, value in part_cpc.items %}['{{key|title}}', {{value}}]{% if not forloop.last %}, {% endif %}{% endfor %} ]}]
        }); 
    	var chart2 = new Highcharts.Chart({
        	chart: {
            	renderTo: 'grafo-asam',
                defaultSeriesType: 'pie',
                height: 480,
                width: 960
            },
            title: {
                text: 'Participación de los miembros de la familia en Asambleas Comunitarias'
            },
            subtitle: {
            	text: 'Hombre, Mujer, Ambos'
            },                                
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for key, value in part_asam.items %}['{{key|title}}', {{value}}]{% if not forloop.last %}, {% endif %}{% endfor %} ]}]
        });
    });
</script>
{% endblock %}

{% block contenido %}
{% include "encuestas/navegacion.html"%}
<div>
<div class="title">Participación Ciudadana de la Familia</div>
<table class="tabla-resultados">
<caption>Participación de los miembros de la familia en los CPC</caption>
	<thead>	
		<tr>
			<th>Quien participa</th>
			<th>Total</th>
			<th>%</th>
		</tr>
	</thead>
	<tbody>
		{% for key, value in part_cpc.items %}
		<tr>
			<td>{{key|title}}</td>
			<td>{{value}}</td>
			<td>{{value|get_frec:part_cpc}}</td>	
		</tr>
		{% endfor %}
	</tbody>
</table>
<div id="grafo-cpc" class="grafo"></div>
</div>
<br>
<div>
<table class="tabla-resultados">
<caption>Participación de los miembros de la familia en Asambleas Comunitarias</caption>
	<thead>	
		<tr>
			<th>Quien participa</th>
			<th>Total</th>
			<th>%</th>
		</tr>
	</thead>
	<tbody>
		{% for key, value in part_asam.items %}
		<tr>
			<td>{{key|title}}</td>
			<td>{{value}}</td>
			<td>{{value|get_frec:part_asam}}</td>	
		</tr>
		{% endfor %}
	</tbody>
</table>
<div id="grafo-asam" class="grafo"></div>
</div>
{% endblock %}
