{% extends "base.html"%}
{% block extratitle %}Produccion{% endblock %}
{% block extrahead%}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting_patched.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/2leveltab.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet"  href="{{MEDIA_URL}}css/2leveltab.css" >
<script type="text/javascript">
function redirigir(form){
   var maximo = form.txt_maximo.value; 
   var minimo = form.txt_minimo.value; 
   var rango = form.select_rango.value; 
   var url = '';
   
   if (maximo && minimo && rango){
     url = '/produccion/rangos/{{model_name}}/' + maximo + '/' + minimo + '/' + rango + '/';
     window.location = url;
   }else if(maximo && rango){
     url = '/produccion/rangos/{{model_name}}/' + maximo + '/0/' + rango + '/';
     window.location = url;
   }else if(minimo && rango){
     alert('Favor seleccionar valor máximo');
     $('#txt_maximo').focus();
   }
}
var chart;
var chart2;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'column',
      },
      title: {
         text: 'Manzanas Producidas de {{model}}',
         x: -20 //center
      },
      subtitle: {
         text: 'Grafico manzanas producidas',
         x: -20
      },
      xAxis: {
         categories: [{%for valor in calculos.0.categorias%}{%if not forloop.last%}'{{valor}}', {%else%}'{{valor}}'{%endif%}{%endfor%}]
      },
      yAxis: {
         title: {
            text: 'Manzanas producidas'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y;
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 0,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: 'Manzanas producidas',
         data: [{%for valor in calculos.0.valores%}{%if not forloop.last%}{{valor}}, {%else%}{{valor}}{%endif%}{%endfor%}]
      }]
   });
  chart = new Highcharts.Chart({
      chart: {
         renderTo: 'acumulado_container',
         defaultSeriesType: 'column',
      },
      title: {
         text: 'Manzanas Producidas de {{model}}',
         x: -20 //center
      },
      subtitle: {
         text: 'Gráfico acumulado',
         x: -20
      },
      xAxis: {
         categories: [{%for valor in calculos.0.categorias%}{%if not forloop.last%}'{{valor}}', {%else%}'{{valor}}'{%endif%}{%endfor%}]
      },
      yAxis: {
         title: {
            text: 'Manzanas producidas'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                      var len = this.series.data.length;
                      var maximo = this.series.data[len-1].y;
                      var porcentaje = (parseFloat(this.y)/maximo) * 100;
                   return '<b>'+ this.series.name +'</b><br/>'+
                   this.y + '(' + parseInt(porcentaje) + '%)';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 0,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: 'Manzanas',
         data: [{%for valor in calculos.0.valores_acumulados%}{%if not forloop.last%}{{valor}}, {%else%}{{valor}}{%endif%}{%endfor%}]
      }]
   });
  //segunda serie
  chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container2',
         defaultSeriesType: 'column',
      },
      title: {
         text: 'Manzanas Sembradas de {{model}}',
         x: -20 //center
      },
      subtitle: {
         text: 'Grafico manzanas',
         x: -20
      },
      xAxis: {
         categories: [{%for valor in calculos.1.categorias%}{%if not forloop.last%}'{{valor}}', {%else%}'{{valor}}'{%endif%}{%endfor%}]
      },
      yAxis: {
         title: {
            text: 'Manzanas sembradas'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y;
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 0,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: 'Manzanas',
         data: [{%for valor in calculos.1.valores%}{%if not forloop.last%}{{valor}}, {%else%}{{valor}}{%endif%}{%endfor%}]
      }]
   });
  chart = new Highcharts.Chart({
      chart: {
         renderTo: 'acumulado_container2',
         defaultSeriesType: 'column',
      },
      title: {
         text: 'Manzanas sembradas de {{model}}',
         x: -20 //center
      },
      subtitle: {
         text: 'Gráfico acumulado',
         x: -20
      },
      xAxis: {
         categories: [{%for valor in calculos.1.categorias%}{%if not forloop.last%}'{{valor}}', {%else%}'{{valor}}'{%endif%}{%endfor%}]
      },
      yAxis: {
         title: {
            text: 'Manzanas sembradas'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                      var len = this.series.data.length;
                      var maximo = this.series.data[len-1].y;
                      var porcentaje = (parseFloat(this.y)/maximo) * 100;
                   return '<b>'+ this.series.name +'</b><br/>'+
                   this.y + '(' + parseInt(porcentaje) + '%)';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 0,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: 'Manzanas',
         data: [{%for valor in calculos.1.valores_acumulados%}{%if not forloop.last%}{{valor}}, {%else%}{{valor}}{%endif%}{%endfor%}]
      }]
   });
});
</script>
{% endblock %}

{% load humanize %}
{% block consultar_sidebar %}
    {% include "encuestas/consultar-sidebar.html"%}
{% endblock %}
{% block contenido %}

<ul id="maintab" class="basictab">
    <li rel="ingresos"><a href="#">INGRESOS &#9660;</a></li>
    {%if dondetoy2 = 'maizproductividad' or dondetoy2 = 'frijolproductividad' or dondetoy2 = 'cafeproductividad' or dondetoy2 = 'cacaoproductividad' %}
        <!--<li  rel="produccion"><a href="#">PRODUCCIÓN &#9660;</a></li>-->
        <li  class="selected"rel="productividad"><a href="#">PRODUCTIVIDAD &#9660;</a></li>
    {%else%}
        <!--<li class="selected" rel="produccion"><a href="#">PRODUCCIÓN &#9660;</a></li>-->
        <li rel="productividad"><a href="#">PRODUCTIVIDAD &#9660;</a></li>
    {%endif%}
</ul>

<div id="ingresos" class="submenustyle">
    <a {%ifequal dondetoy2 'totalingreso'%}class="activa"{%endifequal%} href="/ingresos/rangos/">Ingresos Totales</a>
    <a {%ifequal dondetoy2 'ganadoingreso'%}class="activa"{%endifequal%}href="/ingresos/rangos/ganado/">Ganado</a>
<!--
    
    <a {%ifequal dondetoy2 'fuentesapingreso'%}class="activa"{%endifequal%}href="/ingresos/rangos/fuentes-ap/">Fuentes Agropecuarias</a>
    <a {%ifequal dondetoy2 'fuentesnoapingreso'%}class="activa"{%endifequal%}href="/ingresos/rangos/fuentes-no-ap/">Fuentes no Agropecuarias</a>


-->

</div>
<!--
<div id="produccion" class="submenustyle">
    <a {%ifequal dondetoy2 'maizprod'%}class="activa"{%endifequal%}  href="/produccion/rangos/maiz/">Maíz</a>
    <a {%ifequal dondetoy2 'frijolprod'%}class="activa"{%endifequal%}  href="/produccion/rangos/frijol/">Frijol</a>
    <a {%ifequal dondetoy2 'cafeprod'%}class="activa"{%endifequal%} href="/produccion/rangos/cafe/">Café</a>
    <a {%ifequal dondetoy2 'cacaoprod'%}class="activa"{%endifequal%} href="/produccion/rangos/cacao/">Cacao</a>
    <a {%ifequal dondetoy2 'animalesprod'%}class="activa"{%endifequal%} href="/produccion/rangos/animales-bovino/">Animales Bovinos</a>
    <a {%ifequal dondetoy2 'avesprod'%}class="activa"{%endifequal%} href="/produccion/rangos/animales-aves/">Aves</a>
</div>
-->
<div id="productividad" class="submenustyle">
    <a {%ifequal dondetoy2 'maizproductividad'%}class="activa"{%endifequal%} href="/produccion/rangos/productividad-maiz/">Maíz</a>
    <a {%ifequal dondetoy2 'frijolproductividad'%}class="activa"{%endifequal%} href="/produccion/rangos/productividad-frijol/">Frijol</a>
    <a {%ifequal dondetoy2 'cafeproductividad'%}class="activa"{%endifequal%} href="/produccion/rangos/productividad-cafe/">Cafe</a>
    <a {%ifequal dondetoy2 'cacaoproductividad'%}class="activa"{%endifequal%} href="/produccion/rangos/productividad-cacao/">Cacao</a>
</div>


<script type="text/javascript">
//initialize tab menu, by passing in ID of UL
initalizetab("maintab")
</script>

<div id="formulariomax">
    <div id='form'>
      <form method='GET' action='.'>
        <label for='txt_maximo'>Máximo</label><input id='txt_maximo' type='text' />
        <label for='txt_minimo'>Minimo</label><input id='txt_minimo' type='text' />
        <label for='txt_minimo'>Separaciones</label>
        <select id='select_rango'>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          <option value='10' selected='true'>10</option>
          <option value='11'>11</option>
          <option value='12'>12</option>
          <option value='13'>13</option>
          <option value='14'>14</option>
        </select>
        <input id="botonmax"type='button' onClick="redirigir(this.form)" value=''/>
      </form>
</div>
  </div>
<!--   <a href="#form-facebox" rel="facebox"><br><img src="{{MEDIA_URL}}img/cambiarfiltros.png"></a> -->
  <div id="container"></div>
  <div id="acumulado_container"></div>
  <div id="container2"></div>
  <div id="acumulado_container2"></div>
  {% include "encuestas/form_facebox.html"%}
<script type="text/javascript">
$(window).load(function () {
    $('.basictab li').click(function(){
        $('.basictab li').each(function(){
            $(this).removeClass('selected');
        });
        $(this).addClass('selected');
    });
});
</script>
{% endblock %}

