.basictab{
padding: 3px 0;
margin-left: 0;
font-family: "Arial", sans-serif;
font-size:11px;
list-style-type: none;
margin-bottom: 0;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin: 0;
font-family: "Arial", sans-serif;
}

.basictab li a{
font-family: "Arial", sans-serif;
text-decoration: none;
padding: 8px 5px 3px 10px;
margin-right: 2px;
border-bottom: none;
font-weight:normal;
background-color:#e9d17a;
color: #914100;
   border-top-right-radius:4px;
   border-top-left-radius:4px;
   -moz-border-radius-topright:4px;
   -moz-border-radius-topleft:4px;
   -webkit-border-top-left-radius:4px;
   -webkit-border-top-right-radius:4px;
}


.basictab li a:visited{
color: black;
}

.basictab li a:hover{
background-color:#fdf3d0;
color: black;
}

.basictab li a:active{
color: black;
}

.basictab li.selected a{ /*selected tab effect*/

padding: 8px 10px 3px 10px;
background-color:#fdf3d0;
color: #914100;
font-weight:bold;
   border-top-right-radius:4px;
   border-top-left-radius:4px;
   -moz-border-radius-topright:4px;
   -moz-border-radius-topleft:4px;
   -webkit-border-top-left-radius:4px;
   -webkit-border-top-right-radius:4px;
}


.submenustyle{
font-family: "Arial", sans-serif;
padding: 2px 1px;
border-top-width: 0;
font-size:14px;
width: auto;
height:34px;
background:url(../img/fondomenusub.png) repeat-x;
display: none;
filter:alpha(opacity=0);
-moz-opacity:0;
}

* html .submenustyle{ /*IE only width definition*/
width: 100%;
}

.submenustyle a{
border-right: 1px solid #e5ca84;
padding: 10px 7px;
text-decoration: none;
display:block;
font-size:14px;
float:left;
color:#535353;
}

.submenustyle a:hover{
background-color: #fbe5a9;
color:#000;
}
