#tomadecicion_set-group {
	display: none;
}

#frecuencia_set-group {
	display: none;
}

#genero_set-group {
	display: none;
}

#participacioncpc_set-group {
	display: none;
}

#participacion_set-group {
	display: none;
}

#accesocredito_set-group {
	display: none;
}

#areaprotegida_set-group {
	display: none;
}

#riego_set-group {
	display: none;
}

#calidadpatio_set-group {
	display: none;
}

#arboles_set-group {
	display: none;
}

#patiocultivada_set-group {
	display: none;
}

#tierra_set-group {
	display: none;
}

#agua_set-group {
	display: none;
}

#razonesnoestudia_set-group {
	display: none;
}

#accesoescuela_set-group {
	display: none;
}

#inmigracion_set-group {
	display: none;
}

#descripcion_set-group {
	display: none;
}