#header{
    background: url(../img/back.png) repeat-x bottom !important;
    border-bottom: 1px #ccc solid;
    height: 60px;
    padding-top: 18px;
    /*padding-left: 10px;*/
}
#header a{
    color: #000 !important;
}
#header h1{
    color: #025a8b;
}
#user-tools{
    margin-top: 5px;
    color: #025a8b;
}
.degradado {
    height: 8px;
    width: 100%;
    background: url(../img/degradado.png) repeat-x;
    float: left;
    margin-top: -26px;
    
}
.section{
    color: #025a8b !important;
}
.breadcrumbs{
    padding-left: 15px !important;
}

.aux1{
    margin-left: 10px;
}

/*#id_otrosingresos_set-0-mayo{
    width: 50px;
}
#id_otrosingresos_set-0-junio{
    width: 50px;
}
#id_otrosingresos_set-0-julio{
    width: 50px;
}
#id_otrosingresos_set-0-agosto{
    width: 50px;
}
#id_otrosingresos_set-0-septiembre{
    width: 50px;
}
#id_otrosingresos_set-0-octubre{
    width: 50px;
}
#id_otrosingresos_set-0-noviembre{
    width: 50px;
}
#id_otrosingresos_set-0-diciembre{
    width: 50px;
}
#id_otrosingresos_set-0-enero{
    width: 50px;
}
#id_otrosingresos_set-0-febrero{
    width: 50px;
}
#id_otrosingresos_set-0-marzo{
    width: 50px;
}
#id_otrosingresos_set-0-abril{
    width: 50px;
}
 */
#id_agua_set-0-clorada{
    width: 73px;
}

#id_agua_set-0-paredes{
    width: 73px;
}

#id_agua_set-0-estado{
    width: 73px;
}

#id_agua_set-0-tiempo{
    width: 73px;
}
#id_agua_set-0-techo{
    width: 73px;
}
#id_agua_set-0-piso{
    width: 73px;
}
