redondeado()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

body
	background-color #F6F6F6
	margin 0px
	font-size 16px
nav
	background-color transparent
	.brand-logo
		padding-top 10px
		padding-left 20px
.slider
	margin-top -70px

	
.info-programa
	background-color white
	position relative
	margin-top -130px
	z-index 3
	padding 50px 70px
	redondeado 5px 5px 0px 0px
	
	h2
		text-align center
		margin-top 0px
		margin-bottom 50px
		font-size 3em
		font-weight 300

	p
		display inline-block
		border-top solid 2px #e5e5e5
		margin 1.5em 0 0 0
		padding 1.5em 0 0 0
		font-style normal
.fondo
	background-color #0085CA

.graficos
	
	h4
		text-align center
		padding 50px 40px
		margin-bottom 50px
		margin-left 50px
		margin-right 50px
		border-bottom solid 2px #e5e5e5
h2
h4
	color #646464
footer.page-footer
	background-color white
	h4
		border-bottom solid 2px #e5e5e5
		margin-right 100px
		margin-left 100px
		padding-bottom 30px
		text-align center
	img
		width 80%
	.footer-copyright
		background-color #5CB8B2

@media (max-width: 600px)
	nav
		height: 70px;
