body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    margin-bottom: 20px;
}
.degradado { 
    height: 8px;
    width: 100%;
    background: url(../img/degradado.png) repeat-x;
}
.header{
    width: 100%;
    background: url(../img/back.jpg) repeat-x;
    height: 70px;
    border-bottom: 1px #fff solid;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    /*border: 1px solid;*/
}
.clean{
    clear: both;
}
img{
    border: none;
}
a{
    outline: none;
}
.logo{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.nav{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.admin_sprite{
    background: url(../img/admin_sprite.png) no-repeat;
    display: inline-block;
    width: 99px;
    height: 28px;
}
.admin_sprite:hover{
    background-position: 0 -28px;
}
.salir_sprite{
    background: url(../img/salir_sprite.png) no-repeat;
    display: inline-block;
    width: 70px;
    height: 28px;
}
.salir_sprite:hover{
    background-position: 0 -28px;
}
.mh_sprite{
    background: url(../img/mh_sprite.png) no-repeat;
    display: inline-block;
    width: 140px;
    height: 28px;
}
.mh_sprite:hover{
    background-position: 0 -28px;
}
.lider_sprite{
    background: url(../img/lider_sprite.png) no-repeat;
    display: inline-block;
    width: 75px;
    height: 28px;
}
.lider_sprite:hover{
    background-position: 0 -28px;
}
.func_sprite{
    background: url(../img/func_sprite.png) no-repeat;
    display: inline-block;
    width: 106px;
    height: 28px;
}
.func_sprite:hover{
    background-position: 0 -28px;
}
.filtro_sprite{
    background: url(../img/filtro_sprite.png) no-repeat;
    display: inline-block;
    width: 92px;
    height: 28px;
}
.filtro_sprite:hover{
    background-position: 0 -28px;
}

.inicio_sprite{
    background: url(../img/iniciosprite.png) no-repeat;
    display: inline-block;
    width: 102px;
    height: 28px;
}
.inicio_sprite:hover{
    background-position: 0 -28px;
}
.banner{
    background: url(../img/banner.png) repeat-x;
    height: 286px;    
}
.intro{
    width: 320px;
    float: left;
    padding-top: 25px;
    height: 261px;
    font-size: 12px;        
}
.intro .title{    
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    padding-left: 5px;
}
.intro .desc{
    color: #000;
    text-align: justify;
    padding-left: 5px;
    font-size: 12px;
}
.salidas{
    float: left;
    width: 600px;
    margin-top: 15px;
    padding-left: 40px;
    *padding-left: 5px;
}
.salidas a{
    display: inline-block;
    height: 246px;
    width: 285px;
    margin-left: 10px;
}
/*.mapeo{    */
/*    background: url(../img/mapeo.png) no-repeat;*/
/*    -moz-box-shadow: 0px 2px 7px #9e7707;*/
/*    -webkit-box-shadow: 0px 2px 7px #9e7707;*/
/*}*/
.salidas a:hover{
    -moz-box-shadow: 0px 2px 7px #000;
    -webkit-box-shadow: 0px 2px 7px #000;
}
.monitoreo{    
    background: url(../img/monitoreo.jpg) no-repeat;
    -moz-box-shadow: 0px 2px 7px #942406;
    -webkit-box-shadow: 0px 2px 7px #942406;
}

.monitoreo_avanzado{    
    background: url(../img/monitoreo_avanzado.jpg) no-repeat;
    -moz-box-shadow: 0px 2px 7px #942406;
    -webkit-box-shadow: 0px 2px 7px #942406;
}
/*.recursos{    */
/*    background: url(../img/recursos.png) no-repeat;*/
/*    -moz-box-shadow: 0px 2px 7px #4e0726;*/
/*    -webkit-box-shadow: 0px 2px 7px #4e0726;*/
/*}*/
.title_bar{
    height: 46px;
    background: url(../img/title_bar.png) repeat-x;    
}
.content .wrapper{
    border-left: 1px #d7d7d7 solid;
    border-right: 1px #d7d7d7 solid;
    border-bottom: 1px #d7d7d7 solid;
}
.orglink{
    display: block;
    float: left;
    background: url(../img/orgs.png) no-repeat;
    height: 35px;
    width: 192px;
    margin-top: 5px;
    margin-left: 10px;
}
.orglink:hover{
    background-position: 0px -35px;
}
.contraparts{
    background: url(../img/contraparts.png) repeat-x top;
}
.logos{
    margin-left: 20px;    
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.logos img.cp{
    float: left;
    margin-right: 12px;
    margin-left: 12px;
}
.logos img.line{
    float: left;    
}
.footer{
    text-align: center;
    font-size: 11px;
    color: #3f3f3f;
    padding-top: 8px;
	padding-bottom: 30px;
    background: url(../img/footer_back.png) no-repeat center -70px;
}
.footer a{
    font-weight: bold;
    text-decoration: none;
    color: #3f3f3f;
}
.tabla-resultados{
    width: 100%;
}
.tabla-resultados caption{
    font-size: 14px;
    background-color: #e1e1e1;
    text-align: left;
    padding-left: 15px;
    color: #069;
    height: 20px;
    line-height: 20px;
}
.tabla-resultados th{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    /*font: bold 12px/25px ;*/
    font-size: 12px;
    background: url(../img/table_container_back_th.png) repeat;
    border-right: 1px solid #ded3ba;
    border-bottom: 1px solid #ded3ba;
    vertical-align:middle;
    padding: 3px 5px;
}

.tabla-resultados td {
    font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #E0DDD2;
    border-bottom: 1px solid #E0DDD2;
    padding: 6px 20px 6px 12px;
    color: #696969;
    background: #FFFFFF;
}
.tabla-resultados td a{
    color: #069;
}
.tabla-resultados td a:visited{
    color: #003956;
}

/*Css agregado por Byron */

.der{float:right;}
.izq{float:left;}

.titulo{
    border:#ececec 1px solid;
    padding:4px 10px 4px 10px;
    float:left;
    background:#fff;
    color:#914100;
    font-weight:bold;
    font-size:17px;
    margin:5px;
    border-radius: 20px;
    -webkit-border-radius: 20x ;
    -moz-border-radius: 20px ;
}

.titulo a, 
.titulo a:visited{
    color:#4086ad;
    text-decoration:none;
}

.titulo a:hover{
    color:#306480;
}

.marco-interior{padding:15px;}

#id_year, #id_iglesia, #id_nivel_educativo{
    background:#d8e2e6;
    border-top:#fff 1px solid;
    border-left:#fff 1px solid;
    border-right:#90aab6 1px solid;
    border-bottom:#90aab6 1px solid;
    width:100%;
    height:30px;
}

label #id_year{
    font-size:12px;
}

.formseccion{
    background:url(../img/degradadoazul.png) repeat-x;
    height:24px;
    color:#fff;
    padding-left:8px;
    font-size:14px !important;
    width:450px;
    margin-left:10px;
}

#tabla-form table{
    margin-left:15px;
    font-size:12px;
 table-layout:fixed;
}


#consultar{
    background:url(../img/consultar.png);
    width:165px;
    height:34px;
    border:0;
    margin-left:15px;
}

#menufiltros{
    background:#eef7f7;
    height:80px;
    width:100%;
}

#menufiltros img{ margin:10px;}

#menu-indicadores ul{
    width:400px;
    float: left;
    font-size:13px;
    list-display:none;
}

#menu-indicadores ul span{
    font-size:14px;
    font-weight:bold;
}

#menu-indicadores ul li{
    border: #000 1px solid;
    background:grey;
    margin:5px;
}

#menu-indicadores ul a{
    display:block;
    float:left;
    margin:5px;
    background:#eef7f7;
    width:100%;
    text-decoration:none;
    color:#397da4;
    padding:5px;
    border:#cae4f2 1px dashed;
}

#menu-indicadores ul a:hover{
    background:#d4ebeb;

}

#grafosmujer{
    float:left;
    width:350px;
    background:#a1476d url(../img/mujeresbarra.png) no-repeat;
    height:30px;
    padding-left:130px;
}

#grafoshombre{
    float:left;
    width:350px;
    background:#4086ad url(../img/hombresbarra.png) no-repeat;
    height:30px;
    padding-left:130px;
}

#grafosmujer a{
    color:#5c3566;
}

#grafoshombre a{
    color:#204356;
}

.barra{
    font-size:12px;
}

.barra a, .barra a:visited{
    display:block;
    margin:4px 5px 0px 5px;
    float:left;
    padding:1px 10px 1px 10px;
    background:url(../img/fondobotonbarra.png) repeat-x;
    border-radius: 20px;
    -webkit-border-radius: 20x ;
    -moz-border-radius: 20px ;
    text-decoration:none;
    font-weight:bold;
    border:#fff solid 1px;
    -moz-box-shadow: 0px 0px 10px #3b1a28;
    -webkit-box-shadow: 0px 0px 10px #3b1a28;
}

.barra a:hover{
    background:#fff;
}
#container{
    padding-left: 1px;
        padding-right: 1px;
        width:950px;
}
.grafo{
	padding-left: 1px;
    padding-right: 1px;
}

#consultar-form{
    background:url(../img/fondoformgrande.jpg) no-repeat;
    width:395px;
}

#consultar-sidebar{
 width:160px;
 float:left;
}
#consultar-sidebar #consultar-form{
    background:url(../img/fondoformsidebar.jpg) no-repeat;
    width:160px;
}
#consultar-sidebar .label{
    font-size:12px;
    color:#000;
    width:130px;
}

#consultar-sidebar .filtros{
    width:90px;
}
.general{
    padding:35px 10px 0px 10px;
}

.label{
    font-size:12px;
    color:#000;
}

#consultar-sidebar #id_escolaridad_beneficiario,#consultar-sidebar #id_contraparte, #consultar-sidebar #id_departamento, #consultar-sidebar  #id_municipio,#consultar-sidebar  #id_comarca,
#consultar-sidebar #id_escolaridad_conyugue, #consultar-sidebar #id_familia_dependientes, #consultar-sidebar #id_familia_beneficiario, #consultar-sidebar #id_credito_acceso,
#consultar-sidebar #id_desicion_gasto_mayor, #consultar-sidebar #id_desicion_inversion, #consultar-sidebar #id_indice_dep{
    width:125px;
}

#id_escolaridad_beneficiario, #id_contraparte, #id_departamento, #id_municipio, #id_comarca,
#id_escolaridad_conyugue, #id_familia_dependientes, #id_familia_beneficiario,#id_credito_acceso,
#id_desicion_gasto_mayor, #id_desicion_inversion, #id_indice_dep{
    width:160px;
}

.columnaform{
    float:left;
    width:180px;
}

#consultar-form .consultar{
    background:url(../img/consultarform.jpg) no-repeat;
    width:178px;
    height:68px;
    border:0;
    float:right;
    cursor:pointer;
}

#consultar-form .consultar:hover{
    background:url(../img/consultarform2.jpg) no-repeat;
}

#consultar-sidebar #consultar-form .consultar{
    background:url(../img/consultarformsidebar.jpg) no-repeat;
    width:140px;
    height:54px;
    border:0;
    float:right;
    cursor:pointer;
}

#consultar-sidebar #consultar-form .consultar:hover{
    background:url(../img/consultarformsidebar2.jpg) no-repeat;
}

#bloqueindicadores{
    float:right;
    width:565px;
    *width:540px;
}

.indicadorcategoria{
    text-align:left;
    font-size:16px;
    font-weight:bold;
    color:#1e6d9a;
    border-bottom:#f6a217 1px solid;
    margin-bottom:5px;
    margin-top:10px;
    padding-left:10px;
}

#bloqueindicadores a{
    float:left;
    display:block;
    background:#f9da6d;
    border:#e0b15a 1px solid;
    color:#a45400;
    padding:4px 8px;
    margin:5px 5px;
    text-decoration:none;
    font-size:12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#bloqueindicadores a:hover{
    background:#fff167;


}

.activa{
    font-weight:bold;
    background:#fbe5a9;
}

#formulariomax{
    background:#e5f1f6;
    height:25px;
    padding:10px;
}
#formulariomax label{
    font-weight:bold;
    font-size:12px;
    margin-right:5px;
}
#botonmax{
    width:105px;
    height:32px;
    background:url(../img/actualizarmax.png) no-repeat;
    border:0;
    float:right;
    margin-right:220px;
}
#botonmax:hover{
    background:url(../img/actualizarmax2.png) no-repeat;
}
#formulariomax #txt_maximo, #formulariomax #txt_minimo,{
    float:left;
}
.filtros-seleccionados{
    border: #cae4f2 1px solid;
    background:#eef7f7;
}
.filtro{
    font-size:12px;
    color:#4e4e4e;
    float:left;
    margin:4px 10px 4px 10px;
}

.contrapartedetalle{
    width:850px;
    margin:0 auto;
    font-size:13px;
    margin-bottom:15px;
    border-bottom:#E7C09D 1px solid;
}

.contraparteinfo{
    width:650px;
    float:right;
}
