<html>
<a href="{% url datos_sexo %}">Datos por sexo</a><br>
<a href="{% url sexo-beneficiario %}">Sexo del beneficiario</a><br>
<a href="{% url escolaridad %}">Escolaridad</a><br>
<a href="{% url credito %}">Datos de crédito</a><br>
<a href="{% url participacion %}">Participación</a><br>
<a href="{% url ingreso_agropecuario %}">Ingresos por actividades agropecuarias</a><br>
<a href="{% url ingreso_familiar %}">Ingresos familiares</a><br>
<a href="{% url abastecimiento %}">Autoabastecimiento de granos básicos</a><br>
<a href="{% url agua_clorada %}">% de familias cloran y tratan el agua de consumo</a><br>
<a href="{% url gastan_horas %}">% de familias que gastan más de 1 hora en recoletar agua</a><br>
<a href="{% url familias_practicas %}">Familias que realizan de conservación de suelo y agua</a><br>
<a href="{% url acceso_tierra %}">Familias sin tierra acceden a tierra para la agricultura</a><br>
<a href="{% url acceso_agua %}">Aumentado el acceso a agua para la agricultura</a><br>
<a href="{% url hombre_responsable %}">% de familias donde los hombre hacen tareas domésticas</a><br>
</html>
