{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}

{% block banner %}
<div class="banner">
        <div class="wrapper">
                <div class="intro">
                    <div class="title">
                        "Programa Medios de Vida Sostenibles"
                    </div><br>
                    <div class="desc">
Este programa pretende contribuir a la construcción de medios de vida sostenibles que mejoren la calidad de vida de la población rural vulnerable en la zona Norte de la Región Central de Nicaragua.
<br><br>
Esto a través del mejoramiento de la seguridad alimentaria y nutricional de las familias, así como el incremento  de sus ingresos por medio del fortalecimiento de procesos sostenibles de producción agroecológica y de comercialización.
                    </div>
                </div>
                <div class="salidas">
<!--                    <a href="#" class="mapeo"></a>-->
                    <a href="/consultarsimple" class="monitoreo"></a>
                    <a href="/consultar/" class="monitoreo_avanzado"></a>
<!--                    <a href="#" class="recursos"></a>-->
                </div>
                <div class="clean"></div>
        </div>
</div>
{% endblock %}

{% block contenido %}
<div class="title_bar">
    <a href="/organizaciones" class="orglink"></a>
    <div class="clean"></div>
</div>
<div class="contraparts">
    <div class="logos">
        <a href="/organizaciones#ugag"><img src="{{MEDIA_URL}}img/ugag.jpg" alt="logo" class="cp"></a>
        <img src="{{MEDIA_URL}}img/separador.png" alt="line" class="line">
         <a href="/organizaciones#coacov"><img src="{{MEDIA_URL}}img/coacov.jpg" alt="logo" class="cp"></a>

        <img src="{{MEDIA_URL}}img/separador.png" alt="line" class="line">
        <a href="/organizaciones#coder"><img src="{{MEDIA_URL}}img/coder.jpg" alt="logo" class="cp"></a>
        <img src="{{MEDIA_URL}}img/separador.png" alt="line" class="line">
       <a href="/organizaciones#addac"><img src="{{MEDIA_URL}}img/addac.jpg" alt="logo" class="cp"></a>
        <img src="{{MEDIA_URL}}img/separador.png" alt="line" class="line">
               <a href="/organizaciones#octupan"><img src="{{MEDIA_URL}}img/octupan.jpg" alt="logo" class="cp"></a>
        <div class="clean"></div>
        <br>
        <img src="{{MEDIA_URL}}img/sep_hor.png" alt="line">
        <br><br>
    </div>
</div>
{% endblock %}
