{% extends "base.html"%}
{% block extratitle %}Contrapartes{% endblock %}

{% block extrahead%}


{% endblock %}

{% block contenido %}
<div class="title_bar">
    <div class="titulo">Contrapartes</div>
    <div class="titulo der"><a href="/">&larr; Volver</a></div>
</div><br><br>
<div class="contrapartedetalle">
    <a name="ugag"><img src="{{MEDIA_URL}}img/ugag.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>UGAG</b><br>
        <p>Porttitor mattis sed eu duis auctor purus turpis. Tortor non mauris sagittis natoque! Pellentesque mid duis, dolor nisi parturient pulvinar scelerisque eu integer nec amet. Lectus placerat, tincidunt tempor lectus. Non, in massa odio rhoncus sagittis. Pellentesque amet. Mauris! Ac vel massa pulvinar penatibus. Montes! Elit nascetur porttitor facilisis dignissim egestas, porta turpis proin diam adipiscing. Pellentesque et tortor dis! Penatibus ultricies quis pulvinar diam massa proin ut lectus sociis mauris turpis, scelerisque ut </p>
        <p><b>Proyecto:</b> Nombre del proyecto ejemplo</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="coacov"><img src="{{MEDIA_URL}}img/coacov.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>COACOV</b><br>
        <p>Porttitor mattis sed eu duis auctor purus turpis. Tortor non mauris sagittis natoque! Pellentesque mid duis, dolor nisi parturient pulvinar scelerisque eu integer nec amet. Lectus placerat, tincidunt tempor lectus. Non, in massa odio rhoncus sagittis. Pellentesque amet. Mauris! Ac vel massa pulvinar penatibus. Montes! Elit nascetur porttitor facilisis dignissim egestas, porta turpis proin diam adipiscing. Pellentesque et tortor dis! Penatibus ultricies quis pulvinar diam massa proin ut lectus sociis mauris turpis, scelerisque ut </p>
        <p><b>Proyecto:</b> Nombre del proyecto ejemplo</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="coder"><img src="{{MEDIA_URL}}img/coder.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>CODER</b><br>
        <p>Porttitor mattis sed eu duis auctor purus turpis. Tortor non mauris sagittis natoque! Pellentesque mid duis, dolor nisi parturient pulvinar scelerisque eu integer nec amet. Lectus placerat, tincidunt tempor lectus. Non, in massa odio rhoncus sagittis. Pellentesque amet. Mauris! Ac vel massa pulvinar penatibus. Montes! Elit nascetur porttitor facilisis dignissim egestas, porta turpis proin diam adipiscing. Pellentesque et tortor dis! Penatibus ultricies quis pulvinar diam massa proin ut lectus sociis mauris turpis, scelerisque ut </p>
        <p><b>Proyecto:</b> Nombre del proyecto ejemplo</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="addac"><img src="{{MEDIA_URL}}img/addac.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>ADDAC</b><br>
        <p>ADDAC es un Asociación civil sin fines de lucro de carácter nacional que promueve en el norte del país el Desarrollo Agropecuario, productivo, comercial y asociativo sustentable, en alianza con sus grupos contrapartes (hombres, mujeres y jóvenes) que están en condiciones de desventaja socioeconómica, propiciando el desarrollo asociativo con eficiencia en su gestión empresarial y gerencial, sentido de equidad y desde la perspectiva e incidencia en el desarrollo humano y local.</p>
        <p><b>Proyecto:</b> Nombre del proyecto ejemplo</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="octupan"><img src="{{MEDIA_URL}}img/octupan.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>OCTUPAN</b><br>
        <p>Porttitor mattis sed eu duis auctor purus turpis. Tortor non mauris sagittis natoque! Pellentesque mid duis, dolor nisi parturient pulvinar scelerisque eu integer nec amet. Lectus placerat, tincidunt tempor lectus. Non, in massa odio rhoncus sagittis. Pellentesque amet. Mauris! Ac vel massa pulvinar penatibus. Montes! Elit nascetur porttitor facilisis dignissim egestas, porta turpis proin diam adipiscing. Pellentesque et tortor dis! Penatibus ultricies quis pulvinar diam massa proin ut lectus sociis mauris turpis, scelerisque ut </p>
        <p><b>Proyecto:</b> Nombre del proyecto ejemplo</p>
    </div>
    <div class="clean"></div>
</div>
{% endblock %}

