{% extends "base.html"%}
{% block extratitle %}Contrapartes{% endblock %}

{% block extrahead%}


{% endblock %}

{% block contenido %}
<div class="title_bar">
    <div class="titulo">Contrapartes</div>
    <div class="titulo der"><a href="/">&larr; Volver</a></div>
</div><br><br>
<div class="contrapartedetalle">
    <a name="ugag"><img src="{{MEDIA_URL}}img/ugag.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>Unión de Cooperativas Ganaderos y Agricultores de  Quilalí. (UGAQ R.L)</b><br>
        <p>La Unión de Cooperativas de Ganaderos y Agricultores de Quilalí R.L., UGAQ, fue constituido el 9 de Agosto del año 1,995. Esta ubicada en Nueva Segovia, en el Municipio de Quilalí, y es una organización sin fines de lucro, que surgió inicialmente con la participación de cinco cooperativas de base, habiendo crecido actualmente a once cooperativas que aglutinan a 700 asociados, de los cuales 200 son mujeres y 500 son hombres. </p>
        <p><b>Denis Udiel Zamora</b> <br>
Cargo: Presidente<br>
Teléfono: 273-55130<br>
C.e: ugaq21@yahoo.com<br>
Dirección: De la Estación PETRONIC 1 Cuadra al norte. Quilalí</p><br>
        <p><b>Proyecto:</b> Fomento a producción agro ecológica de las expresiones organizativas de Quilalí y Telpaneca</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="coacov"><img src="{{MEDIA_URL}}img/coacov.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>Cooperativa de ahorro y crédito “Orfilia Vasquez R.L.” (COACOV)</b><br>
        <p>COAOV  inició su organización con 76 mujeres de los municipios de Macuelizo, Santa María y Dipilto, ubicados en la parte noreste del Departamento de Nueva Segovia, con el objetivo de mejorar las condiciones de vida de las mujeres rurales. En la actualidad cuenta con 181 socias y 61 socios. Actualmente trabaja en 36 comunidades de 9 municipios. </p>
<p><b>Rosibel de Jesús González Roque</b><br>
Cargo: Presidenta de Cooperativa<br>
Teléfono:  273-23373<br>
Dirección: De la casa materna 1 cuadra al norte. Ocotal, Nueva Segovía<br>
</p>
        <p><b>Proyecto:</b> Proyecto de Desarrollo rural Productivo y Comercial</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="coder"><img src="{{MEDIA_URL}}img/coder.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>Comisión para el Desarrollo Rural (CODER).</b><br>
        <p>CODER surge en el año 1984 como una  iniciativa de desarrollo local de un grupo de campesinos y activistas sociales que estaban organizados como “Comisión Social Cinco Pinos”, y que trabajaban en proyectos de asistencia a familias de escasos recursos económicos en el municipio de Cinco Pinos.</p>
<p><b>Anastasio Rodríguez Sánchez Cargo: Presidente de CODER.</b><br>
Celular: 86986515, 86644836 y 89485028<br>
C.e: cincopinoscoder@yahoo.es<br>
Dirección: Contiguo a Alcaldía Municipal, Cinco Pinos.<br>
</p>
        <p><b>Proyecto:</b> Fortalecimiento de  la seguridad alimentaria  de familias vulnerables de los municipios de Cinco Pinos, San Pedro, Santo Tomás y San Francisco, Chinandega, Nicaragua.</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="addac"><img src="{{MEDIA_URL}}img/addac.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>Asociación para la Diversificación y el Desarrollo Agrícola Comunal (ADDAC)</b><br>
        <p>La asociación Para La Diversificación y el Desarrollo agrícola Comunal ADDAC es una asociación civil sin fines de lucro fundada en 1988 con sede en Matagalpa pero facultada según su constitución para realizar operaciones en todo el país en sus 22 años de existencia la asociación ha centrado su trabajo en el norte- centro del país.</p>
<p><b>Otoniel Matus Gutiérrez </b><br>
Cargo: Responsable de producción y comercialización<br>
Teléfono: 2772-7108<br>
C.e: central@addac.org.ni<br>
Dirección: Matagalpa, Nicaragua , del Hotel Bermúdez 2 cuadras al este 1 ½ cuadra al norte.<br>
Página web: www.addac.org.ni</p><br>
        <p><b>Proyecto:</b> Desarrollo Productivo sostenible y empresarial con equidad de género, de pequeños productores y productoras del municipio Tuma La Dalia.</p>
    </div>
    <div class="clean"></div>
</div>
<div class="contrapartedetalle">
    <a name="octupan"><img src="{{MEDIA_URL}}img/octupan.jpg" alt="logo" class="cp"></a>
    <div class="contraparteinfo">
        <b>Asociación Octupan Lugar de grandes caminos (Octupan)</b><br>
        <p>La asociación Octupan cuenta con oficinas en los municipios de Condega (dpto. de Estelí) y Palacagüina (Madriz). En ambos municipios en total tiene presencia en 19 comunidades rurales, pero algunas acciones van más allá de las comunidades donde incide; dada la relación que tiene con otras organizaciones no gubernamentales en los territorios. </p>
<p><b>Ligia Monge Matute </b><br>
Cargo: Coordinadora Ejecutiva<br>
Teléfono: 2715 -2259<br>
Dirección: De miscelánea Alagón 1 c al Norte 75 vrs al oeste Condega. Estelí - Nicaragua<br></p>
        <p><b>Proyecto:</b> Seguridad Alimentaria Nutricional y Educación Ambiental</p>
    </div>
    <div class="clean"></div>
</div>
{% endblock %}

